.details {
  height: 500px;
  width: 750px;
  position: absolute;
  margin: 5rem;
}

.details-content {
  margin: 6rem;
}

.details label {
  font-size: large;
  margin-right: 10px;
}

.details input {
  margin-right: 5px;
}

.invalid-input {
  background-color: #ffcbd3;
}

.valid-input {
  background-color: #c5ffdf;
}
